/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;

}

.main-container {
    flex-direction: column; 
    display: flex;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}


h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}




/*****HEADER*******/

.header{ 
    display: flex;
    max-height: 79px;
    height: 100%;
    border: 1px solid aquamarine;
    justify-content: space-between;
}

.logo{
    display: flex;
    border: 1px solid pink;
}

.logo img {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    width: 61,09px;
    height: 19px;
}

.menu {
    height: 35px;
    width: 100%;
    max-width: 344px;
    display: flex;
    justify-content: space-around;
    border: 1px solid pink;
}

.btn-menu{
border: 1px solid pink;
cursor: pointer;
text-align: center;
padding: 16px;
vertical-align: top;
background-color: #00000000;
}

.btn-menu:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
    
}

.btn-menu:focus-within {
    border-top: 2px solid var(--main-color); 
    color: #0353e9; 
}

.btn-menu-txt{
    /* choisir la police (linker) */
}




/*****CORE*******/

.sub-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    border: 1px solid rgb(197, 255, 127);
    padding: 0 50px;

}


/*****INFO-GROUPE*******/

.info-group{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgba(127, 255, 127, 0.82);
}

/*Hdline*/
.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.info-group-title{
    margin: 0px;
    font-size: 22px;
}
.info-group-subtitle{
    margin: 0px;
    font-size: 16px;
}

/*search*/
.search-bar{
    display: flex;
}

.search-bar input {
    padding-left: 20px;
    font-weight: 700;
    font-size: 18px;
}

/* ¡¡ ***************  Adaptation des cotes */
.search-bar button {
    font-weight: 500;
    font-size: 17px; 
}



.location-dot{
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
    border: 1px;
}
.location-dot i {
    color: black;
    width: 14px;
    height: 18px; 
    margin-top: 15px;
    margin-left: 18px;
}

.btn-search{
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    color: white;
    padding-left: auto;
    border: 1px;
    max-height: 49px;
    max-width: 132px;
    width: 100%;
}

/*filter*/
.filter-bar{
    display: flex;
    gap: 15px;
}

.filter-txt {
    margin-top: auto;
    margin-bottom: auto;
}

/*A verifier nécéssité*/
.filter-group{
    display: flex;
    gap: 15px;
}

.btn-filter {
    border: 2px solid var(--main-bg-color);
    display: flex;
    gap: 10px;
    height: 5Opx;
    padding: 12px 19px 12px 19px;
    border-radius: 25px;
}
.btn-filter i {
    margin-top: auto;
    margin-bottom: auto;
}
.btn-filter p {
    font-size: 17px;
    font-weight: 700;
    margin: 0; /* incrementer valleurs de margin 'P' en GENERAL */
}

.btn-filter:hover {
    background-color: #DEEBFF;
}


/*info*/
.infobar {
    display: flex;
    gap: 10px;
}

.cercle-info {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px solid var(--main-bg-color);
    border-radius: 50px;
}
.cercle-info i {
    margin: auto;
    font-size: x-small;
}
/******************************************************END/INFO-GROUP****/



/*****CORE/Hbg&Popu*******/

h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********************/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}


.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}

.hebergements-cards a {
    width: 30%;
}


.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**/

.section-footer-title {
    font-size: 18px;
    font-weight: 700;
}

/****** Hebergements And Populaires ***********************/






/****** Acti ***********************/

.acti-marseille {
    display: flex;
    border: 1px solid grey;
    padding: 30px;
}
/****** Acti ***********************/







/************footer**********/

.footer{
    display: flex;
    background-color:var(--main-bg-color);    
}

.footer section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0px;
    gap: 15px;
    width: 33%;
}

.footer ul {
    padding: 0px;
    margin: 0px;
    border: 2px solid blueviolet;
}

.footer p {
    margin-top: 0px;
    margin-bottom: 15px;
}


/************footer**********/




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}